.footer {
    background-color: $blackFooter;
    color: $grayFooter;

    // .footer__wrapper

    &__wrapper {
        padding: 64px 0;

        @media (max-width: $breakpoint974) {
            padding: 30px 0;
        }

        @media (max-width: $breakpoint648) {
            display: flex;
            justify-content: center;
        }
    }

    // .footer__container

    &__container {
        display: grid;

        grid-template: {
            columns: 1fr minmax(300px, 350px) 255px;
            rows: 29px 32px 1fr;
            areas:
                "logo nav subscribe"
                "socials nav subscribe"
                "copyright nav subscribe";
        }

        column-gap: 30px;
        row-gap: 40px;

        @media (max-width: $breakpoint974) {
            grid-template: {
                rows: 29px 32px 1fr 24px;
                areas:
                    "logo nav subscribe"
                    "socials nav subscribe"
                    "... nav subscribe"
                    "copyright copyright copyright";
            }
        }

        @media (max-width: $breakpoint820) {
            grid-template: {
                columns: 255px 1fr minmax(300px, 350px);
                areas:
                    "logo ... nav"
                    "socials ... nav"
                    "subscribe ... nav"
                    "copyright copyright copyright";
            }
        }

        @media (max-width: $breakpoint648) {
            grid-template: {
                columns: minmax(300px, 320px);
                rows: 29px 94px 232px 32px 24px;
                areas:
                    "logo"
                    "subscribe"
                    "nav"
                    "socials"
                    "copyright";
            }
        }
    }

    // .footer__logo-container

    &__logo-container {
        grid-area: logo;

        @media (max-width: $breakpoint648) {
            justify-self: center;
        }
    }

    // .footer__logo

    &__logo {
        width: 154px;
        height: 29px;
        object-fit: cover;
    }

    // .footer__socials

    &__socials {
        grid-area: socials;
        padding-left: 3px;
        display: flex;
        gap: 16px;

        @media (max-width: $breakpoint648) {
            justify-self: center;
        }
    }

    // .footer__social-link

    &__social-link {
        display: grid;
        place-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $grayFooterIcon;
        transition: background-color 0.2s ease-in;

        &:hover {
            background-color: lighten($color: $grayFooterIcon, $amount: 10%);
        }
    }

    // .footer__social

    &__social {
        width: 18px;
        height: 18px;
        object-fit: cover;
        object-position: center;

        &_twitter {
            width: 16px;
            height: 14px;
        }

        &_youtube {
            height: 13px;
        }
    }

    // .footer__copyright

    &__copyright {
        grid-area: copyright;
        font-size: 0.875rem;
        line-height: 1.714;
        text-indent: 3px;

        @media (max-width: $breakpoint974) {
            text-align: center;
        }
    }

    // .footer__nav

    &__nav {
        grid-area: nav;
        display: flex;
        gap: 30px;

        @media (max-width: $breakpoint648) {
            justify-content: space-between;
            gap: 0;
        }
    }

    // .footer__menu

    &__menu {
        padding-top: 4px;
        flex: 1 1 160px;

        @media (max-width: $breakpoint648) {
            flex: 0 0 auto;
            width: 120px;
        }
    }

    // .footer__item

    &__item {

        &:not(:first-child) {
            margin-top: 12px;
        }
    }

    // .footer__menu-header

    &__menu-header {
        font: {
            size: 20px;
            weight: 700;
        }

        color: $white;
        margin-bottom: 27px;
    }

    // .footer__link

    &__link {
        position: relative;
        color: inherit;
        line-height: 1.625;
        transition: color 0.2s ease-in;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #fff;
            bottom: 8px;
            left: 0;
            opacity: 0;
            transition: all 0.2s ease-in;
            pointer-events: none;
        }

        &:hover {
            color: $white;

            &::after {
                opacity: 1;
                bottom: -8px;
            }
        }
    }

    // .footer__subscribe

    &__subscribe {
        grid-area: subscribe;
        padding-top: 4px;

        @media (max-width: $breakpoint648) {
            justify-self: center;
        }
    }
}

.subscribe {

    // .subscribe__form

    &__form {
        position: relative;
    }

    // .subscribe__email

    &__email {
        width: 255px;
        border-radius: 8px;
        padding: 9px 34px 6px 12px;
        margin-left: -2px;
        color: $grayFooter;
        font-size: 14px;
        line-height: 1.7;
        background-color: $grayFooterEmail;

        &::placeholder {
            color: $grayFooter;
            font-size: 14px;
            line-height: 1.7;
        }
    }

    // .subscribe__button

    &__button {
        position: absolute;
        display: grid;
        place-items: center;
        height: 40px;
        width: 40px;
        top: 0px;
        right: 0px;

        // .subscribe__button-image 
        &-image {
            width: 24px;
            height: 24px;
            object-fit: cover;
            object-position: center;
        }
    }
}