// Mixin for link style
@mixin button($textColor, $bgColor, $blueButton) {
    display: inline-block;
    padding: 0 1.75rem;
    line-height: 2.55;
    font-size: 1.125rem;
    font-weight: 600;
    color: $textColor;
    background-color: $bgColor;
    border-radius: 0.625rem;
    transition: all .1s ease-in;

    &:hover {
        color: $textColor;

        @if $blueButton {
            background-color: lighten($color: $bgColor, $amount: 10%);
        }

        @else {
            background-color: darken($color: $bgColor, $amount: 10%);
        }
    }
}

// Mixin for menu button animation

@mixin active($time, $reverse: false) {

    @if $reverse {
        animation: middleLineReverse $time forwards;

        &::before {
            animation: topLineReverse $time forwards;
        }

        &::after {
            animation: bottomLineReverse $time forwards;
        }
    }

    @else {
        animation: middleLine $time forwards;

        &::before {
            animation: topLine $time forwards;
        }

        &::after {
            animation: bottomLine $time forwards;
        }
    }

}

// Keyframes for burger menu

@keyframes middleLine {

    50% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
    }
}

@keyframes middleLineReverse {
    50% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes topLine {
    50% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@keyframes topLineReverse {
    50% {
        top: 0;
    }

    to {
        top: -6px;
    }
}

@keyframes bottomLine {
    50% {
        bottom: 0;
        transform: rotate(0deg);
    }

    100% {
        bottom: 0;
        transform: rotate(-90deg);
    }
}

@keyframes bottomLineReverse {
    50% {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: -6px;
        transform: rotate(0deg);
    }
}

// Styles

.header {
    padding: 1.5rem 0;
    position: relative;

    @media (max-width: $breakpoint820) {
        padding: 0.5rem 0;
    }

    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
        width: 151px;
        height: 38px;
    }

}

.menu {

    // .menu__icon

    &__icon {
        display: none;

        @media (max-width: $breakpoint820) {
            display: inline-block;
            width: 18px;
            height: 18px;
            position: relative;
        }
    }

    // .menu__line

    &__line {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: inline-block;

        &,
        &::before,
        &::after {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $black;
        }

        &::after,
        &::before {
            content: "";
            left: 0;
        }

        &::before {
            top: -6px;
        }

        &::after {
            bottom: -6px;
        }

        // .active .menu__line

        .active & {
            @include active(0.7s);
        }

        // .menu__line_active

        &_active {
            transform: rotate(45deg);

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
            }

            // .not-active .menu__line_active

            .not-active & {
                @include active(0.7s, true)
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        align-items: center;
        gap: 2.05rem;

        @media (max-width:$breakpoint820) {
            display: none;
        }
    }

    // .menu__link

    &__link {
        color: $black;
        font-weight: 500;
        line-height: 1.1875;
        transition: color .2s ease-in;

        &:hover {
            color: lighten($color: $blue, $amount: 10%);
        }

        &_button {
            @include button($white, $blue, true)
        }

        &_button-white {
            @include button($blue, $white, false)
        }
    }
}