.hire-talent {
    background-color: $lightBlue;

    &__container {
        display: flex;
        gap: 46px;

        @media (max-width: $breakpoint900) {
            padding: {
                top: 31px;
                bottom: 31px;
            }
        }

        @media (max-width: $breakpoint820) {
            justify-content: center;
            text-align: center;
        }
    }

    // .hire-talent__content

    &__content {
        align-self: center;
        max-width: 473px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .hire-talent__title

    &__title {
        margin-bottom: 14px;
    }


    // .hire-talent__text

    &__text {
        max-width: 450px;
        line-height: 1.5;
        margin-bottom: 28px;
    }

    // .hire-talent__image-container

    &__image-container {

        padding-top: 31px;

        @media (max-width: $breakpoint900) {
            padding-top: 0;
        }

        @media (max-width: $breakpoint820) {
            display: none;
        }
    }

    // .hire-talent__image

    &__image {
        width: 100%;
        max-width: 596px;
        height: auto;
    }
}