.recruit {

    // .recruit__container

    &__container {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 580px;
        grid-template-areas: "content image";
        margin-top: 43px;

        @media (max-width: $breakpoint900) {
            grid-template-columns: 300px 1fr;
            margin-top: 10px;
        }

        @media (max-width: $breakpoint820) {
            grid-template-columns: 1fr;
            grid-template-areas: "content";
            padding: 0;
        }
    }

    // .recruit__content

    &__content {
        grid-area: content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 101px;

        @media (max-width: $breakpoint900) {
            margin-top: 0px;
        }

        @media (max-width: $breakpoint820) {
            align-items: center;
            margin-top: 10px;
        }
    }

    // .recruit__header

    &__header {
        font-size: 3.75rem;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 1.25;
        margin-bottom: 27px;

        @media (max-width: $breakpoint820) {
            text-align: center;
            max-width: 480px;
            font-size: 3rem;
        }

        @media (max-width: $breakpoint480) {
            min-width: 320px;
            font-style: 1.5rem;
        }

    }

    // .recruit__text

    &__text {
        line-height: 1.5;
        max-width: 386px;
        margin-bottom: 32px;

        @media (max-width: $breakpoint820) {
            text-align: justify;
            max-width: 420px;
        }

        @media (max-width: $breakpoint480) {
            text-align-last: center;
            max-width: 300px;
        }
    }

    // .recruit__image

    &__image {
        grid-area: image;
        padding-bottom: 116%;
        position: relative;

        img {
            position: absolute;
            height: 677px;
            object-fit: cover;
            object-position: -48px 0;

            @media (max-width: $breakpoint900) {
                height: auto;
                object-position: 0 0;
            }
        }
    }
}