// Container

$containerWidth: 1146px;
$containerPadding: 15px;

// Colors

$black: #000;
$white: #fff;
$blue: #0077c0;
$lightBlue: #c7eeff;
$grayFooter: #d9dbe1;

// Brand logo width

$brandWidth: (airbnb: 155px,
    google: 146px,
    slack: 188px,
    netflix: 177px,
    amazon: 172px);