// Container

$containerWidth: 1146px;
$containerPadding: 15px;

// Colors

$black: #000;
$blackFooter: #1d242b;
$white: #fff;
$blue: #0077c0;
$lightBlue: #c7eeff;
$grayFooter: #d9dbe1;
$grayTitleText: #fafafa;
$grayFooterIcon: #343a40;
$grayFooterEmail: #4a5055;

// Brand logo width

$brandWidth: (airbnb: 155px,
    google: 146px,
    slack: 188px,
    netflix: 177px,
    amazon: 172px);

// Counter steps

$steps: stepsCounter;